/*------------------*\
  Base
\*------------------*/

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background: #fff;
  padding: 2.5rem;
}

html,
body {
  width: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  font-size: 2.25rem;
  line-height: 1.45;
  background: #79AA9c;
  color: #000;
}

main {
  max-width: 1024px;
  margin: 5rem auto;
  flex: 1;
}

#services section {
  min-height: 75vh;
  width: 50%;
  padding: 2.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

/*------------------*\
  Typography
\*------------------*/



/*------------------*\

\*------------------*/

.contact-overlay {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
  height: 10rem;
  width: 10rem;
  background: #111;
  border-left-radius: 50%;
}
