/*------------------*\
  Base
\*------------------*/

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background: #fff;
  padding: 2.5rem;
}

/* #624353 */

html,
body {
  width: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  display: flex;
  font-size: 2.25rem;
  line-height: 1.45;
  background: #DAE2D9;
  color: #000;
}



main {
  max-width: 1024px;
  margin: 5rem auto;
  flex: 1;
}

#services section {
  width: 50%;
  text-align: center;
  padding: 2.5rem;
}

/*------------------*\
  Typography
\*------------------*/



/*------------------*\

\*------------------*/
